body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}
canvas {
  width: 100vw;
  height: 100vh;
}
#overlay {
  background: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #fff;
  background: #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
  border-image-slice: 1;
  text-align: center;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  transform: color 0.5s;
}

button {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background: #f6b73c;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  transform: color 0.5s;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
  border-image-slice: 1;
  margin-top: 20px;
  font-weight: 600;
  transition: 0.5s;
  transform: color 0.5s;
}
button:hover {
  color: #fff;
  background: #000;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
  border-image-slice: 1;
}
